/*font imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sriracha&display=swap');
/*colors & font*/

navbar{
    background-color:#6a994e;
}

.logo h3{
    font-family: 'Sriracha', cursive;
    text-decoration: none;
    color: #F2E8CF;
    text-align:center;
}

.logo:hover{
    text-decoration: none;
}

.GameContainer{
    background-color:#386641;
}

#HowToPlay{
    background-color:#Bc4749;
    font-family:'Sriracha', cursive;
    border-color:#Bc4749;
    color:#F2E8CF;
}

#HowToPlay:hover{
    background-color:#d65658;
    border-color:#d65658;
}
#startGame,#gameControlHit,#gameControlStand,#replayGame{
    background-color:#Bc4749;
    font-family:'Sriracha', sans-serif;
    border-color:#Bc4749;
    color:#F2E8CF;
}

#gameControlStand,#replayGame{
    background-color:#070d09;
    border-color:#070d09;
}

.modal-header, .modal-header button{
    color:#F2E8CF;
    font-family: 'Sriracha', sans-serif;
    background-color:#386641;
    border-color:#325e3b;
}

.modal-body{
    background-color:rgb(241, 236, 223);
    border-color:#070d09;
}

.text-toggle{
    background-color:#Bc4749;
    border-color:#d65658;
    color:#F2E8CF;
    font-family:'Sriracha', sans-serif;
}

.text-toggle:hover{
    background-color:#d65658;
    border-color:#d65658;
    color:#F2E8CF;
}

/*header*/
navbar.row{
    height: 70px;
}

.logo{
    margin:auto 0;
}

/*rules modal*/
#RulesVideo iframe, #RulesVideo{
    padding:0;
}
#RulesWritten{
    padding:0;
    margin:auto;
}

/*game container*/

.GameContainer{
    border: 1px solid #6A994E;
    border-radius: 8px;
    margin: 20px 0;

}

/*game buttons*/
#startGame,#gameControlHit,#gameControlStand,#replayGame{
    margin:20px 30px;
}
/*these buttons start off hidden, hence this rule.*/
#gameControlHit,#gameControlStand,#replayGame{
    display:none;
}
/*mobile styling compat rules*/
@media(max-width:766px){
    /*header*/
    header navbar{
        padding-top:10px;
    }
    .logo h3, #HowToPlay h3{
        font-size: 1.5rem !important;
    }
    
    /*game container*/
    .GameContainer{
        margin-top: 60px;
    }

}
@media(max-width:574px){
    /*game controls*/
    #startGame,#gameControlHit,#gameControlStand,#replayGame{
        max-width:50%;
    }
}

@media(max-width:574px){
    #startGame,#gameControlHit,#gameControlStand,#replayGame{
        max-width:80%;
    }
}